.emi-calculator {
    font-family: Arial, sans-serif;
    width: 700px;
    height: 650px;
    padding: 20px;
    border: .01px solid #c7b7a7;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    border: 1.5px solid;
    padding: 10px;
    box-shadow: 7px 15px #888888;
  }
  
  .slider-container,
  .duration-container {
    margin: 15px 0;
  }
  
  input[type="range"]{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    width: 50%;
    /* height: 15px; */
  }
  span{
    margin-left: 47%;
  }
  .duration-container button {
    margin: 5px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 24px;
    background: white;
    cursor: pointer;
  }
  .duration-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 30px;
  }
 label{
    display: flex;
    font-weight: bold;
    /* justify-content: start; */

 }
  
  .duration-container button.active {
    background: #ff5722;
    color: white;
  }
  
  .emi-result {
    /* display: flex;
    justify-content: start; */
    border:  .01px solid gray;
    border-radius: 10px;
    margin: 15px 0;
    width: 356px;
    margin-top: 10px;
  }
  .Breakup-btn{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 10px;
    margin-left: 220px;
    padding: 10px 15px;
    border: 1.5px solid skyblue;
    font-weight: bold;
    border-radius: 12px;
    cursor:not-allowed;
  }
  .prh2{
    display: flex;
    margin-left: 35px;
  }
  .hdng1{
    display: flex;
    margin-left: 35px;
  }
  .loan-button {
    background: white;
    color: #ff5722;
    padding: 15px 80px;
    border: 2px solid #ff5722; 
    cursor:grabbing;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    margin-left: -375px;
    margin-top: 20px;
  }
  .loan-button:hover{
    background:  #ff5722;
    color: white;
    transform: scale(1.00);
  }
  .prh1{
    display: flex;
    font-size: 18px;
    /* font-weight: bold; */
  }
  .prh3{
    display: flex;
    /* font-size: 18px; */
    flex-direction: row;
    /* justify-content:start; */
    /* margin-left: -445px; */
    /* align-items:self-start ; */
  }
  .prh4{
    display: flex;
  }
  .prh5{
    display: flex;
    flex-direction: row;
    align-items: self-start;
  }
  .user img{
    position: absolute;
    width: 350px;
    height: 360px;
    margin-left:8px ;
    margin-bottom: 20%;
    margin-top: -360px;
  }